.navBar{
    overflow: hidden;
    /* background-image: linear-gradient(to top left, #684ff8 0%, #f369dc 80%); */
    background-color: rgb(247, 115, 240);
    margin-bottom: 3%;
    border-radius: 5px
    }
    
    .navBar a {
      float: left;
      color: #fcf9f9;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    .navBar a.active {
      background-color: #000201;
      color: white;
    }
    
    .navBar a:hover {
      background-color: #ddd;
      color: black;
    }
    