.newPlayer {
    margin: 0% auto;
    width: 170px;
    max-height: 42px;
    /* margin-bottom: 3%;
    margin-right: 5%; */
    background-color: white;
    border: black;
    border-style: ridge;
    padding: 0.5%;
    border-radius: 5px; 
    display: inline-block;   
    /* max-width: 170px; */
  }
  
  .newDisc {
    /* margin-bottom: 3%; */
    /* float: right; */
    display: inline-block;
    margin: 0% auto;
    /* margin-right: 5%; */
    border-radius: 5px;
    max-width: 18%;
    min-width: 170px;
    background-color: white;
    border: black;
    border-style: ridge;
    padding: 0.5%;
  
  }

  .popUpWin{
    width: 98.7%;
    height: 100%;
    position: absolute;
    background:rgba(0,0,0,.4);
    /* box-shadow: 5px 5px; */
    text-align: center;
    /* display: none; */
    z-index : 1;
  }

  .gameStart{
    position: relative;
    inset-block-start: 1px;
    
  }

  .gameEntry{
    text-align: center;
  }