body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #333;
  /* background-image: linear-gradient(to top left, #684ff8 0%, #f369dc 100%); */
}

.navBar{
overflow: hidden;
background-image: linear-gradient(to top left, #684ff8 0%, #f369dc 80%);
/* background-color: rgb(247, 115, 240); */
margin-bottom: 3%;
border-radius: 15px;
}

.navBar a {
  float: left;
  color: #fcf9f9;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navBar a.active {
  background-color: #000201;
  color: white;
}

.boxclass {
  height: 10rem;
  width: 10rem;
  margin-left: 5rem;
  margin-top: 5rem;
  display: inline-block;
  /* float: left; */
  word-wrap: break-word;
  /* margin-bottom: 10rem; */
}
.currentPlayer {
  background-color: #ddd;
}

.discdisplay {
  height: 40rem;
  width: 30rem;
  margin-left: 10rem;
  margin-top: 10rem;
  text-decoration-color: ivory;
}

/* Dropdown Button */
.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.hidden {
  transform: translate3d();
  height: 0;
  padding: 0;
  display: none;
}

.newPlayer {
  min-width: 170px;
  margin-bottom: 3%;
  margin-right: 5%;
  background-color: white;
  border: black;
  border-style: ridge;
  padding: 0.5%;
  max-width: 18%;
  display: inline-block;
}

.newDisc {
  /* margin-bottom: 3%; */
  /* float: right; */
  margin-right: 5%;
  max-width: 18%;
  min-width: 170px;
  background-color: white;
  border: black;
  border-style: ridge;
  padding: 0.5%;
  display: inline-block;
}

input#discInput {
  display: block;
}

.gameBtns {
   /* margin-bottom: 3%; */
  /* float: left; */
  margin-top: 5%; 
  background-color: white;
  border: black;
  border-style: ridge;
  padding: 0.5%;
  display: inline-block;
}

.topGameBar{
  position: relative;
  display:inline-block
}

.playerList{
  display: table-row;
}